* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 14px;
}

/* CSS BOX MODEL */
/* .box-1 {
    background-color: red;
    padding: 20px;
    border: 20px solid yellow;
    margin: 50px;
    height: 200px;
    width: 200px;
}
.box-2 {
    background-color: blue;
    padding: 20px;
    border: 20px solid yellowgreen;
    margin: 50px;
    height: 200px;
    width: 200px;
} */

/* DISPLAY BLOCK, INLINE, INLINE-BLOCK */
/* .box{
    min-height:100px;
    background-color:green;
    display:none;

}
.box2{
    min-height:100px;
    background-color:purple;
    display:inline-block;
} */


/* FLEXBOX */
/* .container {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexbox-item {
    width:100px;
    background-color:grey;
    border: 2px black solid;
    margin: 10px;
}
.flexbox-item-1 {
    min-height: 50px;
}
.flexbox-item-2 {
    min-height: 100px;
}
.flexbox-item-3 {
    min-height: 150px;
} */


.grid-container {
    margin: 10px;
    height: 100vh;
    display: grid;
    /* grid-template-columns: 200px 100px; */
    grid-template-columns: repeat(2, 200px);
    /* grid-auto-rows: 150px; */
    grid-auto-rows: minmax(150px, auto);
    
    /* grid-row-gap: 20px;
    grid-column-gap: 20px; */
    grid-gap: 50px;

    /* grid-template-areas:
        "header header"
        "sidebar content"
        "sidebar content"
    ; */

    justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    align-content: center;
}
.grid-item {
    background-color:grey;
    border: 2px black solid;
}
.grid-item-1 {
    /* grid-area: header; */
    /* grid-column-start: 1;
    grid-column-end: 3; */

    /* grid-column: 1 / 3; */
    grid-column: 1 / -1;
}
.grid-item-2 {
    /* grid-area: sidebar; */
    grid-row: 2 / 4;
}
.grid-item-3 {
    /* grid-area: content; */
    grid-row: span 3;
}
.grid-item-6 {
    /* grid-area: content; */
    grid-column: span 2;
}


/* POSITION */
/* .parent {
    height: 200vh;
    position: relative;
    background-color: lightgreen;
}
.child-one {
    padding: 10px;
    background-color: red;
    width:100%;
}
.child-two {
    padding: 10px;
    background-color: lightcoral;
    position: sticky;
    top:0;
    position: fixed;
    top: 50%;
}
.child-three {
    padding: 10px;
    background-color: lightgray;
    position: sticky;
    top:0;
} */



/* CSS UNITS */
/* body {
    margin: 12px;
}

.parent {
    border: 2px black solid;
    width: 500px;
    margin-top: 10px;
}
.hundred-px {
    width: 100px;
    padding: 15px 0;
    background-color: red;
    margin-bottom: 10px;
}
.fifty-percent {
    width: 50%;
    padding: 15px 0;
    background-color: red;
    margin-bottom: 10px;
}
.parent .test {
    background: yellow;
}
.fifty-vw {
    width: 50vw;
    padding: 15px 0;
    background-color: red;
    margin-bottom: 10px;
}
.fifty-vh {
    height: 50vh;
    padding: 15px 0;
    background-color: red;
    margin-bottom: 10px;
} */


/* .one-em {
    font-size: 1em;
}
.one-rem {
    font-size: 1rem;
}

.two-em {
    font-size: 2em;
}
.two-rem {
    font-size: 2rem;
}

.parent {
    border: 2px black solid;
    width: 500px;
    margin-top: 10px;
    font-size: 40px;
} */


.title {
    font-size: 6rem;
}
.subtitle {
    font-size: 3rem;
}

/* @media print {
    body {
        color: red;
    }
} */


/* can use orientation and the comma as the or operator */
/* @media (orientation: portrait) , (min-width: 600px) {
    body {
        background-color: red;
    }
} */
/* for mobile devices */
@media all and (max-width: 480px) {
    body {
        color: red;
    }
    .title {
        font-size: 4rem;
    }
    .subtitle {
        font-size: 1.5rem;
    }
}

/* for tablets */
@media (max-width: 768px) and (min-width: 480px) {
    body {
        color: blue;
    }
}

.wrapper {
    height: 80vh;
    background-image: url(./assets/bgimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index:0;
}
.wrapper::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: black;
    content: '';
    opacity: 0.7;
    z-index: -1;
}
.container {
    color: white;
}
.title {
    font-size: 6rem;
}
.btn {
    color: white;
    background: red;
    padding: 10px;
    border: none;
    /* height: 200px;
    width: 200px;
    border-radius: 50%; */

    animation-name: btn;
    animation-duration: 1s;
    animation-timing-function: ease-in;

    transition-property: all;
    transition-duration: 2s;
}
.btn:hover {
    transform: rotateY(180deg);
}
@keyframes tv-animation {
    0% { 
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.info-container {
    background: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.tv-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: tv-animation;
    animation-duration: 4s;
    /* animation-timing-function: ease-in; */
}
@keyframes tv-animation {
    0% { 
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tv-image {
    z-index: 1;
}
.tv-video {
    position: absolute;
    /* top:0; */
}

.info-container {

}
.info-container .info {
    animation-name: text-animation;
    animation-duration: 1.5s;
    position: relative;
}
@keyframes text-animation {
    0% {
        left: -500px;
    }
    100% {
        left: 0;
    }
}
.info-container .tv-container .tv-image {

}

.box-animation {
    height: 200px;
    width: 200px;
    background: red;
    position: relative;
    animation-name: test;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    /* animation-delay: 5s; */
}

@keyframes test {
    0% {
        background: red;
        top: 0;
        left: 0;
        border-radius: 0;
    }
    25% {
        background: blue;
        top: 0;
        left: 400px;
        border-radius: 50% 0 0 0;
    }
    50% {
        background: yellow;
        top: 400px;
        left: 400px;
        border-radius: 50% 50% 0 0;
    }
    75% {
        background: violet;
        top: 400px;
        left: 0;
        border-radius: 50% 50% 50% 0;
    }
    100% {
        background: red;
        top: 0;
        left: 0;
        border-radius: 50%;
    }
}

.box-transition {
    height: 200px;
    width: 200px;
    background: red;
    margin: auto;
    position: relative;
    top: 200px;

    transition-property: all;
    transition-duration: 1s;
    /* transition-timing-function: ease-in; */
}

.box-transition:hover {
    background: blue;
    border-radius: 50%;
    transform: rotate(360deg);
}
